<mt:setvarblock name="page_title"><__trans phrase="MTBooter: QA Tool for Movable Type"></mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<mt:if name="CreateDemoSuccess">
  <div id="msg-block">
        <p>Your demo blogs have been created.</p>
        <p><a href="<MTCGIPath>mt.cgi?__mode=list_blog" target="_top">Blogs listing</a></p>
  </div>
</mt:if>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            onclick="closeDialog(); return false"
            type="submit"
            accesskey="x"
            title="<__trans phrase="Done (x)">"
            ><__trans phrase="Done"></button>
    </div>
</div>

</form>

<mt:include name="dialog/footer.tmpl">