<mt:setvarblock name="page_title"><__trans phrase="MTBooter: QA Tool for Movable Type"></mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<div id="msg-block">
    <p><mt:var name="status_message"></p>

    <p><mt:var name="mapping_list"></p>

    <p>&nbsp;</p>

    <p><a href="<MTCGIPath>mt.cgi?__mode=<mt:var name="confirm_mode">&blog_id=<mt:var name="blog_id">" target="_top"><mt:var name="confirm_link"></a></p>
</div>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            onclick="closeDialog(); return false"
            type="submit"
            accesskey="x"
            title="<__trans phrase="Done (x)">"
            ><__trans phrase="Done"></button>
    </div>
</div>

</form>

<mt:include name="dialog/footer.tmpl">